{erl_opts, [
    {i, "include"}
]}.

{project_plugins, [
    {erlfmt, {git, "git@github.com:WhatsApp/erlfmt.git", {branch, "main"}}}
]}.
{erlfmt, [write]}.

{alias, [
    {check, [
        {fmt, "--check"},
        xref,
        dialyzer
    ]},
    {test, [
        {ct, "--sname nbully --spec test/conf/test.spec --cover --readable true"},
        {cover, "-m 95"}
    ]}
]}.

{xref_ignores, [
    {nbully, leader, 0},
    {nbully, subscribe, 0},
    {nbully, unsubscribe, 0},
    {nbully_wrk, init, 1},
    {nbully_wrk, start_link, 0},
    {nbully_wrk, stop, 0},
    {nbully_wrk, system_code_change, 4},
    {nbully_wrk, system_continue, 3},
    {nbully_wrk, system_terminate, 4}
]}.

{profiles, [
    {test, [
        {deps, [
            {nct_util, {git, "git@github.com:nomasystems/nct_util.git", {branch, "main"}}}
        ]}
    ]}
]}.

{ct_opts, [
    % Specify that we want the results captured in a Surefire report.
    {ct_hooks, [{cth_surefire, [{path, "report.xml"}]}]}
]}.
